body {
  margin: 0;
  line-height: normal;
}
.icon {
  position: absolute;
  top: 436px;
  left: 0;
  width: 864px;
  height: 571px;
  object-fit: cover;
}
.macbook-pro-16-1-child {
  position: absolute;
  top: 0;
  left: 864px;
  background-color: var(--color-green-100);
  width: 864px;
  height: 1117px;
}
.farmer-icon5 {
  position: absolute;
  top: 22px;
  left: 127px;
  width: 85px;
  height: 85px;
  overflow: hidden;
}
.frame-child23,
.google-icon1 {
  position: relative;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.google-icon1 {
  overflow: hidden;
}
.group-container {
  position: absolute;
  top: 22px;
  left: 1517px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.e-kisan-mart1 {
  position: relative;
}
.because-we-value1 {
  position: relative;
  font-size: var(--font-size-lg);
  display: inline-block;
  width: 666px;
}
.e-kisan-mart-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-now1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-green-100);
  text-align: left;
}
.register-now-container {
  cursor: pointer;
  border: 1px solid var(--color-green-100);
  padding: var(--padding-sm);
  background-color: var(--color-white);
  border-radius: var(--br-md);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login5 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.login-wrapper2 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-sm);
  background-color: transparent;
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 119px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent5,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  gap: 40px;
}
.frame-parent5 {
  position: absolute;
  top: 387px;
  left: 981px;
  flex-direction: column;
  gap: 53px;
}
.macbook-pro-16-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
